/* 
  Task 7: Nested and nested again
  This Sass file demonstrates how to apply different font sizes to <body> and <h1> elements,
  and how to target specific <h1> elements with the class .smaller. 
  It sets the font size of <body> to 14px, the font size of <h1> to 16px, 
  and the font size of <h1> with the class .smaller to 12px.
*/

body {
  font-size: 14px;
  h1 {
    font-size: 16px;
  }
  h1.smaller {
    font-size: 12px;
  }
}
